.headerContainer {
    height: auto;
    background-color: gainsboro;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 999;
    transition: top 0.3s; /* Transición suave al cambiar la posición */
    /* Otros estilos de tu header */
}
.headerContainer.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: sombra para resaltar el header */
}

.headerBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLink {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.headerLink:hover {
    font-weight: bold;
    color: black;
}

.menuLi{
    list-style: none;
    padding: 1rem;
}

.headerLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
}

.material-symbols-outlined {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    font-size: 3rem;
}

.burgerButton {
    border: 0;
    background-color: transparent;
}
